include @/components/nav/_nav

mixin header(data = {})
  -
    const {
      logo = {
        src: 'assets/images/logo.png',
        width: 158,
        height: 29,
        alt: 'balanceMe',
        link: 'index.html'
      },
      navList = [],
      phoneNr = ''
    } = data

  header.header#header
    .header__wrap
      a.header__logo(href=logo.link target="_top")
        img.header__logo-img(
          src=logo.src,
          width=logo.width,
          height=logo.height,
          alt=logo.alt
        )
      button.header__toggle(type="button")
      .header__menu
        +nav({ list: navList, extraClass: 'header__nav' })
        .header__contacts
          a(href="tel:89851561714" target="_self").header__contacts-link.header__contacts-link--tel
            svg.header__contacts-image
              use(xlink:href="#icon-tel").header__contacts-icon
            | +7 985 156 17 14
          a(href="" target="_blank").header__contacts-link.header__contacts-link--vk
            svg.header__contacts-image
              use(xlink:href="#icon-vk").header__contacts-icon
      